body {
    background-image: url('/pafi/images/background-index.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hmiddle {
    text-align: center;
}

.hright {
    text-align: right;
}

.vmiddle {
    vertical-align: middle;
}

.vlower {
    vertical-align: bottom;
}